CONFIG_FDT_64BIT=y
CONFIG_SUPPORT_OF_CONTROL=y
CONFIG_OF_CONTROL=y
CONFIG_OF_SEPARATE=y
CONFIG_MULTI_DTB_FIT=y
CONFIG_DEFAULT_DEVICE_TREE="qcom/qcom-multi-dummy"
#qcom/sm7125-xiaomi-joyeuse qcom/sm7125-xiaomi-curtana"
CONFIG_OF_LIST="qcom/sm7125-xiaomi-joyeuse qcom/sm7125-xiaomi-curtana"
CONFIG_PANIC_HANG=n
CONFIG_MULTI_DTB_FIT_NO_COMPRESSION=y
CONFIG_OF_OVERLAY_LIST=""
CONFIG_USE_DEFAULT_ENV_FILE=y
#CONFIG_DEFAULT_ENV_FILE="board/qualcomm/qcom-phone.env"
CONFIG_OFNODE_MULTI_TREE=y
CONFIG_OFNODE_MULTI_TREE_MAX=4

CONFIG_BOOTDELAY=2
CONFIG_AUTOBOOT_KEYED=y
CONFIG_RESET_TO_RETRY=y
CONFIG_BOOT_RETRY_MIN=5

CONFIG_BUTTON=y
CONFIG_BUTTON_REMAP_PHONE_KEYS=y
CONFIG_BUTTON_GPIO=y
CONFIG_BUTTON_QCOM_PMIC=y
