# Configuration for building U-Boot to be embedded
# directly into the xbl.elf binary.

CONFIG_LOG=y
CONFIG_HEXDUMP=y
CONFIG_CMD_LOG=y
CONFIG_LOG_MAX_LEVEL=4
CONFIG_LOG_DEFAULT_LEVEL=4
CONFIG_LOGLEVEL=4

# Uncomment to enable UART pre-relocation
#CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_ANNOUNCE=y
CONFIG_DEBUG_UART_BASE=0xa84000
CONFIG_DEBUG_UART_MSM_GENI=y
CONFIG_DEBUG_UART_CLOCK=7372800

# Address of xbl_core.elf (which we're replacing)
CONFIG_TEXT_BASE=0x9fc00000
CONFIG_REMAKE_ELF=y
