#include "qcom_defconfig"
CONFIG_ARM64=n
LINUX_KERNEL_IMAGE_HEADER=n
SYSRESET_PSCI=n

CONFIG_BAUDRATE=115200
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_ANNOUNCE=y
# db410c - 0x78b0000
# db820c - 0x75b0000
CONFIG_DEBUG_UART_BASE=0x16440000
CONFIG_DEBUG_UART_MSM=y
CONFIG_DEBUG_UART_CLOCK=7372800
#CONFIG_DEBUG_UART_SKIP_INIT=y

CONFIG_LOG=y
CONFIG_HEXDUMP=y
CONFIG_CMD_LOG=y
CONFIG_LOG_MAX_LEVEL=9
CONFIG_LOG_DEFAULT_LEVEL=9
CONFIG_LOGLEVEL=9
